*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --bg-color:#10101a;
    --main-color: blue;
    --2nd-main-color:#ffffffcc;
    --text-color:#fff;
    --big-font:5rem;
    --h2-font:1.9rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: .3s;
}

.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
}

span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 15px;
    font-weight: 400;
}

.navbar a:hover{
    background: var(--main-color);
    transition: .3s;
}

#m-icon{
    font-size: 20px;
    z-index: 10001;
    cursor: pointer;
    display: noe;
}

section{
    padding: 120px 14%;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:6rem;
    align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 70%;
}

.home-text h5{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: 500;
    line-height: 1;
    margin: 0 0 20px;
}

.home-text h6{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.home-text p{
    max-width: 470px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--2nd-main-color);
}

.btn{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}

.btn:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
}

.about-me h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0 0 30px;
}

.about-me h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: var(--h2-font);
    line-height: 1.2;
    max-width: 470px;
    margin-bottom: 2rem;
}

.about-me p{
    max-width: 570px;
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    color: var(--2nd-main-color);
}

.count{
    margin-bottom: 2rem;
}

.about-me .count a{
    color: var(--2nd-main-color);
    margin-right: 20px;
    word-spacing: 5px;
}

.count span{
    color: var(--text-color);
    font-size: 2.7rem;
    font-weight: 500;
}

.center{
    text-align: center;
}

.center h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}

.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}

.row{
    background: #0b0b13;
    padding: 60px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.row i{
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 20px;
}

.row h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--text-color);
}

.row p{
    font-size: 15px;
    color: var(--2nd-main-color);
    line-height: 30px;
}

.row:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
    background: var(--main-color);
}

.cta{
    background: #0b0b13;
    width: 100%;
    padding: 150px 0;
    text-align: center;
    margin: 100px auto;
}

.cta h4{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;   
}

.cta h2{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form{
    position: relative;
    width: 550px;
}
form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #0b0b13;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

form input::placeholder,
form textarea::placeholder{
    color: var(--2nd-main-color);
}

textarea{
    resize: none;
    height: 200px;
}

form .send-btn{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    cursor: pointer;
}

form .send-btn:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}


.copy-right{
    text-align: center;
    padding: 30px;
    color: var(--2nd-main-color);
    background: #0b0b13;
    margin-top: 3rem;
    line-height: 1.8rem;
}



